@use "sass:color";

.header {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;

	margin-bottom: 1rem;

	.subtitle {
		margin-top: 0;
		text-align: center;
		font-size: 1.1rem;
	}
}


.ribbon {
	font-size: 20px !important;
	/* This ribbon is based on a 16px font side and a 24px vertical rhythm. I've used em's to position each element for scalability. If you want to use a different font size you may have to play with the position of the ribbon elements */
	width: 40%;
	position: relative;
	font-family: 'Nixie One';
	// font-size: 6em;
	background: $ribbon-color;
	color: #222;
	text-align: center;
	padding: 1em 5em;
	/* Adjust to suit */
	margin: 2em auto 1em;
	/* Based on 24px vertical rhythm. 48px bottom margin - normally 24 but the ribbon 'graphics' take up 24px themselves so we double it. */

	@media screen and (max-width: 768px){
		font-size: 1.1rem !important;
		width: 25%;
		padding: 1em 5em;
		margin-bottom: 2em;
	}

	// @media screen and (max-width: 1024px){
	// 	font-size: 15px !important;
	// 	width: 30%;
	// 	position: relative;
	// 	font-family: 'Nixie One';
	// 	// font-size: 6em;
	// 	background: $ribbon-color;
	// 	color: #222;
	// 	text-align: center;
	// 	padding: 1em 5em;
	// 	/* Adjust to suit */
	// 	margin: 2em auto 1em;
	// 	/* Based on 24px vertical rhythm. 48px bottom margin - normally 24 but the ribbon 'graphics' take up 24px themselves so we double it. */
	// }


	.ribbon-of {
		font-family: 'Tangerine';
		font-size: 1.3em;
	}

	&:before,
	&:after {
		content: "";
		position: absolute;
		display: block;
		bottom: -1em;
		border: 1.5em solid color.adjust($ribbon-color, $blackness: 15%);
		z-index: -1;
	}

	&:before {
		left: -2em;
		border-right-width: 1.5em;
		border-left-color: transparent;
	}

	&:after {
		right: -2em;
		border-left-width: 1.5em;
		border-right-color: transparent;
	}

	.ribbon-content:before,
	.ribbon-content:after {
		content: "";
		position: absolute;
		display: block;
		border-style: solid;
		border-color: color.adjust($ribbon-color, $blackness: 30%) transparent transparent transparent;
		bottom: -1em;
	}

	.ribbon-content:before {
		left: 0;
		border-width: 1em 0 0 1em;
	}

	.ribbon-content:after {
		right: 0;
		border-width: 1em 1em 0 0;
	}
}