.legend {
	display: flex;
	flex-direction: column;

	width: 20%;
	align-items: center;

	.legend-img {
		width: 70%;
	}
}

@media screen and (max-width: 1200px) {
	.legend {
		margin-top: 12vh;
		margin-bottom: 12vh;
		scale: 1.5;
	}
}