.legend {
	display: flex;
	flex-direction: column;

	width: 20%;
	align-items: center;

	.legend-img {
		width: 70%;
	}
}

@media screen and (max-width: 1280px) {
	.legend {
		margin-top: 55%;
		margin-bottom: 65%;
		scale: 2.1;
	}
}