@use "sass:color";

.ReactModal__Overlay {
    position: fixed;
    inset: 0px;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    align-items: center;
    justify-content: center;
}

.ReactModal__Content {
    @media screen and (min-width: 1280px) {
        scale: 0.8;
    }

    inset: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: fit-content;
    max-width: 80%;
    border: 1px solid #ccc;
    background: hsl(51, 45%, 85%);
    border-radius: 5px;
    text-align: center;
    font-size: 1.6rem;
    padding: 20px;
    overflow: auto;
    outline: none;
}

.modal-element {
    scale: 1.5;
    font-weight: 800;
    font-size: 0.5em;
    margin: 3rem 0 3rem 0;
}

.modal-socials {
    display: flex;
    gap: 1rem;
}

.modal-social {
    display: flex;
    flex-direction: column;
    color: rgb(46, 92, 184);

    padding: 0.5rem;
    border-radius: 5px;

    font-size: 0.8em;

    &:hover {
        background-color: color.adjust($bg-color, $lightness: -5%);

        .modal-social-title {
            text-decoration:solid;
        }
    }

    .modal-social-title {
        font-weight: bold;
    }
}

.modal-close-btn {
    background: transparent;
    border: none;
    float: right;

    &:hover {
        cursor: pointer;
    }
}

.modal-header {
    display: flex;
    justify-content: right;
    align-items: center;
    width: 100%;

    .modal-title {
        width: 100%;
        margin: 0.5rem;
    }
}