$society-padding: 5px;
$society-size: 5.5rem;

.table {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	.society {
		width: $society-size;
		height: $society-size;

		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;

		outline: 1px solid black;

		.symbol {
			font-weight: bold;
			font-size: 1.5rem;
		}

		.year {
			position: absolute;
			top: $society-padding;
			right: $society-padding;
		}

		.index {
			position: absolute;
			top: $society-padding;
			left: $society-padding;
		}

		.recognized {
			position: absolute;
			bottom: $society-padding;
			left: $society-padding;
		}

		.size {
			position: absolute;
			bottom: $society-padding;
			right: $society-padding;
		}

		&.block-t {
			background: #FF667C;
		}

		&.block-to {
			background-color: #F29C61;
		}

		&.block-o {
			background-color: #EDC85F;
		}

		&.block-w {
			background-color: #54D39C;
		}

		&.block-c {
			background-color: #4EAEC4;
		}

		&.block-cc {
			background-color: #A46BB2;
		}

		&.block-u {
			background-color: #888888;
		}
	}
}