@import "./variables";
@import "./header";
@import "./footer";

body {
	background: $bg-color;
	color: $fg-color;
	font-family: 'Nixie One';
	margin: 0;
}

.app-container {
	display: flex;
	flex-direction: column;

	width: 100%;
}