@import "./variables";
@import "./header";
@import "./footer";
@import "./legend";
@import "./table";

body {
	background: $bg-color;
	color: $fg-color;
	margin: 0;
}

// Removes any transition delay in react-tooltip
.react-tooltip__closing {
	display: none;
}

@media screen and (max-width: 1200px) {
	.table-container {
		scale: 0.95;
	}
}

.app-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex: 1;
	min-width: fit-content;

	.row {
		display: flex;
		width: 100%;
	}

	.table-container {
		display: flex;
		align-items: center;
		justify-content: center;

		.legend {
			width: 23rem;
		}

		.table {
			width: 100%;
			margin: 0% 10%;
		}
	}
}